.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  @-ms-viewport{
    width: device-width;
  }
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  body {
    background: #EDDEA4;
  }
  body.dark-mode {
    background: #0D1321;
    color: #ffffff;
  }
  body.dark-mode button {
    background color: #BDD5EA;
  }
  #message {
    color: #0D1321;
    background: #C6878F;
    border: 1px solid #577399;
    padding: 20px 40px;
    margin: 12px 0;
    border-radius: 4px;
    opacity: 1;
    transition: opacity .5s ease;
  }
  #message.dismissed {
    opacity: 0;
    height: 0;
  }
  #message button {
    float: right;
  }
  article figcaption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #0D1321;
    max-width: 100%;
  }
  figure.main-image {
    margin: auto;
    max-width: 100%;
    height: auto;
  }
  figure.section-image.small {
    float: right;
    margin-left: 15px;
    max-width: 100%;
  }
  figure {
    border: 3px solid #C6878F;
    padding: 3px;
    width: 500px;
  }