body {
  background: rgb(82, 5, 5);
}
body a {
  color: white;
}
h1#site-title {
  align-items: center;
  background-color: #41a39b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  text-align: center;
}
h1#article-title {
  align-items: center;
  background-color: #41a39b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}
h2 {
  color: #41a39b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px; 
}
main {
  max-width: 1000px;
  align-items: center;
}
article p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}
article figure {
  width: 800px;
  border: 3px solid #41a39b;
  padding: 3px;
}
article p img {
  border: 2px solid #41a39b;
  padding: 3px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
article figcaption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
}
figure.main-image {
  background:rgb(204, 184, 155);
  border-color: #41a39b;
  max-width: 775px;
}
figure.section-image {
  margin-bottom: 15px;
  width: 700px;
  background:rgb(186, 233, 236)
}
figure.section-image.odd {
  float: left;
  margin-right: 15px;
}
figure.section-image.even {
  float: right;
  margin-left: 15px;
}
nav ul {
  background-color:rgb(204, 184, 155);
  list-style: none;
  width: 200px;
  border: 3px solid #41a39b;
  padding: 0;
}
nav ul li {
  border-bottom: 3px solid #41a39b;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(82, 5, 5);
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
}
nav ul li a:hover {
  background-color: #704d2b;
  color: white;
}
nav ul li:last child {
  border-bottom: 0;
}
.main-container {
  max-width: 960px;
  margin: auto;
}  
.site-menu, .sidebar {
  width: 20%;
}
.middle-content {
  width: 60%;
}
.site-menu, .middle-content, .sidebar {
  float: left;
}
