body {
  background: rgb(136, 9, 9);
}
h1 {
  background-color: #d6ab1f;
  color: white;
  font-family: Helvetica;
  font-size: 36px;
  text-align: center;
}
h2 {
  color: #d6ab1f;
  font-family: Helvetica;
  font-size: 24px; 
}
article {
  max-width: 850px;
}
article p {
  color: black;
  font-family: Courier New;
  font-size: 16px;
}
article figure {
  max-width: 500px;
  border: 2px solid #d6ab1f; 
  padding: 3px;
}
article figure img {
  width: 100%
}
article figcaption {
  font-family: Helvetica;
  font-size: 14px;
}
article p img {
  border: 2px solid #d6ab1f;
  padding: 3px;
  float: left;
  margin-right: 15px;
}
nav ul {
  background-color:rgb(138, 98, 40);
  list-style: none;
  padding: 0;
  width: 200px;
  border: 3px solid #d6ab1f;
}
nav ul li {
  border-bottom: 1px solid #d6ab1f;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: Helvetica;
}
nav ul li a:hover {
  text-decoration: underline;
}